<div class="container-fuild">
    <app-navbar></app-navbar>
    <div class="content-loading" *ngIf="!loading">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
    <div class="content" *ngIf="loading">
        <div class="row ps-5 pe-5 pb-5">
            <div class="row ps-5 pe-5 pt-2 pb-3 related d-flex justify-content-center text-decoration-underline">Information about {{infoDirector.name}}</div>
            <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-center ">
                <img src="{{urlSrc+infoDirector.profile_path}}" alt="" [ngStyle]="{'width':'16vw', 'height':'20vw'}">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 d-flex align-items-center">
                <div>
                    <p><strong>Name:</strong> {{infoDirector.name}}</p>
                    <p><strong>Gender:</strong> {{infoDirector.gender | genders}}</p>
                    <p><strong>Birthday:</strong> {{infoDirector.birthday | date}}</p>
                    <p><strong>Department:</strong> {{infoDirector.known_for_department}}</p>
                    <p><strong>Place of birth:</strong> {{infoDirector.place_of_birth}}</p>
                    <p><strong>Popularity:</strong> {{infoDirector.popularity}}</p>
                    <p><strong>Homepage:</strong>
                        <a [ngStyle]="{'text-decoration': 'none', 'color': 'white'}"
                            href="{{infoDirector.homepage}}">&ensp;{{infoDirector.name}}
                        </a>
                    </p>
                    <p><strong>More movie:</strong>
                        {{infoDirector.also_known_as}}
                    </p>
                </div>
                <!-- <p><strong>Biography</strong>{{infoPerson.biography}}</p> -->
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>