<footer class="text-center text-lg-start border-top">
    <!-- Grid container -->
    <div class="container p-4">
        <fa-icon class="me-4" [icon]="faFacebook"></fa-icon>
        <fa-icon class="me-4" [icon]="faInstagram"></fa-icon>
        <fa-icon class="me-4" [icon]="faTwitter"></fa-icon>
        <fa-icon class="me-4" [icon]="faYoutube"></fa-icon>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white-50">Mô tả âm thanh</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Quan hệ đầu tư</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Thông báo quản lý</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white-50">Trung tâm trợ giúp</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Việc làm</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Tuỳ chọn cookie</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white-50">Thẻ quà tặng</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Thông tin doanh nghiệp</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white-50">Trung tâm đa phương tiện</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Quyền riêng tư</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white-50">Liên hệ chúng tôi</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <span class="text-white-50">© 1997-2022 Netflix, Inc.</span>
    </div>
    <!-- Grid container -->
</footer>